Repository libgdx/libgdx, pull requests merged in 2020-11, with the labels that each got.

#6241 Set back buffer configs for any window
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/Lwjgl3Application.java
Labels: LWJGL3, bug

#6265 HeadlessApplication use nanotime for render interval
  backends/gdx-backend-headless/src/com/badlogic/gdx/backends/headless/HeadlessApplication.java
  backends/gdx-backend-headless/src/com/badlogic/gdx/backends/headless/mock/graphics/MockGraphics.java
Labels: bug, non-breaking

#6257 Added "contains" scaling mode.
  gdx/src/com/badlogic/gdx/utils/Scaling.java
Labels: core, enhancement, non-breaking

#6277 GWT use setCatchKey to prevent browser's default behaviour
  CHANGES
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/DefaultGwtInput.java
  gdx/src/com/badlogic/gdx/Input.java
Labels: enhancement, gwt, input, non-breaking

#6278 GWT fix some key mappings
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/DefaultGwtInput.java
Labels: bug, gwt, input
