Repository libgdx/libgdx, pull requests merged in 2020-08, with the labels that each got.

#5901 Documented HTTP-Methods and added HEAD-Method
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/LwjglNet.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/GwtNet.java
  gdx/src/com/badlogic/gdx/Net.java
  gdx/src/com/badlogic/gdx/net/HttpStatus.java
  gdx/src/com/badlogic/gdx/net/NetJavaImpl.java
Labels: core, enhancement, non-breaking

#5682 Adding Gyroscope implementation for gwt
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/DefaultGwtInput.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/GwtApplicationConfiguration.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/GwtGyroscope.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/GwtPermissions.java
  tests/gdx-tests-android/src/com/badlogic/gdx/tests/android/GdxTestActivity.java
  tests/gdx-tests-gwt/src/com/badlogic/gdx/tests/gwt/client/GwtTestStarter.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/AccelerometerTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/gwt/GwtTestWrapper.java
Labels: enhancement, gwt, non-breaking

#5949 Add AndroidLiveWallpaper.notifyColorsChanged
  CHANGES
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/AndroidLiveWallpaper.java
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/AndroidLiveWallpaperService.java
Labels: android, enhancement, non-breaking

#5702 AndroidControllers: possibility to not ignore some buttons
  extensions/gdx-controllers/gdx-controllers-android/src/com/badlogic/gdx/controllers/android/AndroidControllers.java
Labels: controllers, enhancement, non-breaking

#5659 GWT use webaudio instead of SoundManager2 lib
  CHANGES
  backends/gdx-backends-gwt/.classpath
  backends/gdx-backends-gwt/.project
  backends/gdx-backends-gwt/res/com/badlogic/gdx/backends/gdx_backends_gwt.gwt.xml
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/DefaultGwtAudio.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/GwtApplication.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/GwtApplicationConfiguration.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/GwtMusic.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/GwtSound.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/resources/soundmanager2-jsmin.js
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/resources/soundmanager2-nodebug-jsmin.js
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/resources/soundmanager2-setup.js
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/resources/soundmanager2.swf
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/resources/soundmanager2_debug.swf
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/resources/soundmanager2_flash9.swf
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/resources/soundmanager2_flash9_debug.swf
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/soundmanager2/SMSound.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/soundmanager2/SoundManager.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/webaudio/AudioControlGraph.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/webaudio/AudioControlGraphPool.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/webaudio/WebAudioAPIManager.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/webaudio/WebAudioAPIMusic.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/webaudio/WebAudioAPISound.java
  extensions/gdx-controllers/gdx-controllers-gwt/.project
  extensions/gdx-setup/res/com/badlogic/gdx/setup/resources/html/war/index
  extensions/gdx-setup/res/com/badlogic/gdx/setup/resources/html/war/soundmanager2-jsmin.js
  extensions/gdx-setup/res/com/badlogic/gdx/setup/resources/html/war/soundmanager2-setup.js
  extensions/gdx-setup/src/com/badlogic/gdx/setup/GdxSetup.java
  tests/gdx-tests-gwt/.classpath
  tests/gdx-tests-gwt/.project
  tests/gdx-tests-gwt/war/index.html
  tests/gdx-tests-gwt/war/soundmanager2-jsmin.js
  tests/gdx-tests-gwt/war/soundmanager2-setup.js
Labels: gwt, non-breaking, sound

#5677 GWT possibility to lazy load assets
  CHANGES
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/emu/com/badlogic/gdx/assets/AssetLoadingTask.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/preloader/AssetFilter.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/preloader/DefaultAssetFilter.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/preloader/Preloader.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/preloader/PreloaderBundleGenerator.java
  gdx/src/com/badlogic/gdx/assets/AssetLoadingTask.java
Labels: enhancement, gwt, non-breaking

#5691 GWT: New config setting to use native resolution on mobile / Retina / HDPI screens
  CHANGES
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/GwtApplication.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/GwtApplicationConfiguration.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/GwtGraphics.java
  extensions/gdx-setup/res/com/badlogic/gdx/setup/resources/html/src/HtmlLauncher
  extensions/gdx-setup/res/com/badlogic/gdx/setup/resources/html/war/index
  tests/gdx-tests-gwt/src/com/badlogic/gdx/tests/gwt/client/GwtTestStarter.java
Labels: bug, gwt, non-breaking w/ config

#6147 Jnigen will add `erroronmissingdir="false"` to jar tasks
  extensions/gdx-box2d/gdx-box2d/jni/build.xml
  extensions/gdx-bullet/jni/build.xml
  extensions/gdx-controllers/gdx-controllers-desktop/jni/build.xml
  extensions/gdx-freetype/jni/build.xml
  extensions/gdx-jnigen/src/com/badlogic/gdx/jnigen/AntScriptGenerator.java
  gdx/jni/build.xml
Labels: build

#6151 Add a Lwjgl3ApplicationConfiguration#foregroundFPS option.
  CHANGES
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/Lwjgl3Application.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/Lwjgl3ApplicationConfiguration.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/Sync.java
Labels: LWJGL3, desktop, enhancement

#6110 Private constructors utils
  CHANGES
  CONTRIBUTORS
  gdx/src/com/badlogic/gdx/math/GeometryUtils.java
  gdx/src/com/badlogic/gdx/math/Intersector.java
  gdx/src/com/badlogic/gdx/math/MathUtils.java
  gdx/src/com/badlogic/gdx/net/HttpParametersUtils.java
  gdx/src/com/badlogic/gdx/scenes/scene2d/utils/UIUtils.java
  gdx/src/com/badlogic/gdx/utils/BufferUtils.java
Labels: code quality, non-breaking

#6118 Cache Box2D Fixture filter data to avoid JNI overhead
  extensions/gdx-box2d/gdx-box2d/src/com/badlogic/gdx/physics/box2d/Filter.java
  extensions/gdx-box2d/gdx-box2d/src/com/badlogic/gdx/physics/box2d/Fixture.java
Labels: enhancement, physics
