Repository libgdx/libgdx, pull requests merged in 2020-12, with the labels that each got.

#6284 Simplifiications to Proguard config
  extensions/gdx-controllers/gdx-controllers-android/src/com/badlogic/gdx/controllers/android/AndroidControllers.java
  extensions/gdx-setup/res/com/badlogic/gdx/setup/resources/android/proguard-rules.pro
Labels: build, code quality

#6290 Add hasContents to Clipboard interface, to reduce clipboard notifications on iOS 14
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/AndroidClipboard.java
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/LwjglClipboard.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/Lwjgl3Clipboard.java
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/IOSApplication.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/GwtClipboard.java
  gdx/src/com/badlogic/gdx/utils/Clipboard.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/ClipboardTest.java
Labels: core, enhancement, input, non-breaking

#6296 Fix TextField tab traversal on HTML5
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/DefaultGwtInput.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/TextAreaTest.java
Labels: bug, gwt, non-breaking

#6211 Extracted the setup of ScrollPane's Listeners
  gdx/src/com/badlogic/gdx/scenes/scene2d/ui/ScrollPane.java
Labels: core, enhancement, scene2d

#6226 Allow changing blending mode in Flame particle 3D editor, fixes #6223
  CHANGES
  extensions/gdx-tools/src/com/badlogic/gdx/tools/flame/BillboardBatchPanel.java
  extensions/gdx-tools/src/com/badlogic/gdx/tools/flame/ColorInfluencerPanel.java
  gdx/src/com/badlogic/gdx/graphics/g3d/particles/batches/BillboardParticleBatch.java
Labels: 3D, enhancement, tools

#5207 Add mappings for more numpad buttons, fixes #2524
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/DefaultLwjglInput.java
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/LwjglAWTInput.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/DefaultLwjgl3Input.java
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/DefaultIOSInput.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/DefaultGwtInput.java
  gdx/src/com/badlogic/gdx/Input.java
  gdx/src/com/badlogic/gdx/scenes/scene2d/ui/SelectBox.java
Labels: core, enhancement, input, non-breaking w/ config

#6301 Add support for Caps Lock, Print Scr, Scroll Lock, Pause
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/DefaultLwjglInput.java
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/LwjglAWTInput.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/DefaultLwjgl3Input.java
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/DefaultIOSInput.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/DefaultGwtInput.java
  gdx/src/com/badlogic/gdx/Input.java
Labels: core, enhancement, input

#6300 Add support for hardware keys F13 to F24
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/DefaultLwjglInput.java
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/LwjglAWTInput.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/DefaultLwjgl3Input.java
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/DefaultIOSInput.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/DefaultGwtInput.java
  gdx/src/com/badlogic/gdx/Input.java
Labels: core, enhancement, input

#6304 Media Keys for gwt
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/DefaultGwtInput.java
Labels: enhancement, gwt, input, non-breaking

#6049 added GL_TEXTURE_CUBE_MAP_SEAMLESS
  CHANGES
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/LwjglGraphics.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/Lwjgl3Graphics.java
Labels: GL, desktop

#6289 Maintenance on versions and build configurations
  extensions/gdx-setup/res/com/badlogic/gdx/setup/resources/android/build.gradle
  extensions/gdx-setup/res/com/badlogic/gdx/setup/resources/gradle/wrapper/gradle-wrapper.properties
  extensions/gdx-setup/src/com/badlogic/gdx/setup/DependencyBank.java
  extensions/gdx-setup/src/com/badlogic/gdx/setup/GdxSetup.java
  gradle/dependencies.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  pom.xml
  tests/gdx-tests-android/AndroidManifest.xml
  tests/gdx-tests-android/build.gradle
Labels: build

#6299 Android: Fix wrong constants for Escape, End, Insert, F1 to F12
  CHANGES
  gdx/src/com/badlogic/gdx/Input.java
Labels: android, bug, input

#6312 Remove unused AndroidOnscreenKeyboard class.
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/AndroidOnscreenKeyboard.java
Labels: android, code quality, input

#6320 fix toIntBuffer, fixes #6112
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/LwjglGL20.java
Labels: LWJGL2, bug

#6321 added shader compilation check for ImmediateModeRenderer20
  gdx/src/com/badlogic/gdx/graphics/glutils/ImmediateModeRenderer20.java
Labels: core, enhancement

#6316 Improve TextureAtlas parsing, store name/value pairs per region
  CHANGES
  extensions/gdx-tools/src/com/badlogic/gdx/tools/texturepacker/TexturePacker.java
  extensions/gdx-tools/src/com/badlogic/gdx/tools/texturepacker/TextureUnpacker.java
  gdx/src/com/badlogic/gdx/graphics/g2d/PixmapPacker.java
  gdx/src/com/badlogic/gdx/graphics/g2d/TextureAtlas.java
  gdx/src/com/badlogic/gdx/math/BSpline.java
  gdx/src/com/badlogic/gdx/scenes/scene2d/ui/Skin.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/PixmapPackerIOTest.java
Labels: breaking change, core, enhancement

#6308 fix/improve WebGL 1.0 backend
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/GwtGL20.java
Labels: GL, bug, gwt

#6329 GWT: Initial call to set viewport size fails for resizable application
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/GwtGraphics.java
Labels: bug, gwt

#6323 add cubemaps to the management, fixes #5047
  gdx/src/com/badlogic/gdx/graphics/Cubemap.java
Labels: GL, android, bug

#6338 GWT log failure initializing graphics
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/GwtApplication.java
Labels: gwt

#6337 iOS catch exception for unknown keys from hardware keyboard
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/DefaultIOSInput.java
Labels: input, ios
