Repository libgdx/libgdx, pull requests merged in 2020-10, with the labels that each got.

#6200 GWT: Use Gretty for serving files in superdev mode
  backends/gdx-backends-gwt/build.gradle
  extensions/gdx-setup/res/com/badlogic/gdx/setup/resources/html/build.gradle
  extensions/gdx-setup/src/com/badlogic/gdx/setup/BuildScriptHelper.java
  extensions/gdx-setup/src/com/badlogic/gdx/setup/DependencyBank.java
  extensions/gdx-setup/src/com/badlogic/gdx/setup/Language.java
  gradle/dependencies.gradle
  tests/gdx-tests-gwt/build.gradle
Labels: build, gwt, non-breaking

#6146 Fixed the glBufferData bug in bufferChanged().
  gdx/src/com/badlogic/gdx/graphics/glutils/VertexBufferObjectWithVAO.java
Labels: GL, core

#6216 Make sure vertices returned by Decal.getVertices() are always updated…
  CHANGES
  gdx/src/com/badlogic/gdx/graphics/g3d/decals/Decal.java
Labels: 3D, bug

#6215 ShaderProvider extends Disposable
  gdx/src/com/badlogic/gdx/graphics/g3d/utils/ShaderProvider.java
Labels: 3D, enhancement

#3709 Change how is Retina handled on iOS
  CHANGES
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/DefaultIOSInput.java
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/IOSApplication.java
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/IOSApplicationConfiguration.java
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/IOSGraphics.java
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/IOSScreenBounds.java
Labels: breaking change, graphics, ios

#6154 [Scene2d.ui] Adding support for horizontal scrolling (touch pad and touch screen)
  CHANGES
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/AndroidMouseHandler.java
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/DefaultAndroidInput.java
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/DefaultLwjglInput.java
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/LwjglAWTInput.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/DefaultLwjgl3Input.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/DefaultGwtInput.java
  extensions/gdx-tools/src/com/badlogic/gdx/tools/particleeditor/ParticleEditor.java
  gdx/src/com/badlogic/gdx/InputAdapter.java
  gdx/src/com/badlogic/gdx/InputEventQueue.java
  gdx/src/com/badlogic/gdx/InputMultiplexer.java
  gdx/src/com/badlogic/gdx/InputProcessor.java
  gdx/src/com/badlogic/gdx/graphics/g3d/utils/CameraInputController.java
  gdx/src/com/badlogic/gdx/input/RemoteSender.java
  gdx/src/com/badlogic/gdx/scenes/scene2d/InputEvent.java
  gdx/src/com/badlogic/gdx/scenes/scene2d/InputListener.java
  gdx/src/com/badlogic/gdx/scenes/scene2d/Stage.java
  gdx/src/com/badlogic/gdx/scenes/scene2d/ui/ScrollPane.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/Box2DTestCollection.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/BulletTestCollection.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/InputTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/InterpolationTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/OnscreenKeyboardTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/ParticleEmitterChangeSpriteTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/ParticleEmitterTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/SpriteBatchTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/box2d/Box2DTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/bullet/BulletTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/utils/PerspectiveCamController.java
Labels: breaking change, core, enhancement, input, scene2d

#6220 Fix shader providers overflow and depth shader skinning configuration
  CHANGES
  gdx/src/com/badlogic/gdx/graphics/g3d/shaders/DepthShader.java
  gdx/src/com/badlogic/gdx/graphics/g3d/utils/BaseShaderProvider.java
Labels: 3D, breaking change, bug

#6217 Add method to calculate intersection point between three planes
  CHANGES
  gdx/src/com/badlogic/gdx/math/Intersector.java
  gdx/test/com/badlogic/gdx/math/IntersectorTest.java
Labels: core, math

#6232 glDrawBuffers no longer ignores bufsize (n) argument
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/LwjglGL30.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/Lwjgl3GL30.java
Labels: GL, bug, desktop

#6234 Fix Intersector#pointLineSide documentation.
  gdx/src/com/badlogic/gdx/math/Intersector.java
Labels: bug, core, math

#6242 fix GLFrameBufferBuilder visibility
  gdx/src/com/badlogic/gdx/graphics/glutils/GLFrameBuffer.java
Labels: GL

#6238 Replace travis with github actions build
  .github/workflows/build.yml
  .travis.yml
Labels: build

#6235 Support specifying which onscreen keyboard type to use
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/DefaultAndroidInput.java
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/surfaceview/GLSurfaceView20.java
  backends/gdx-backend-headless/src/com/badlogic/gdx/backends/headless/mock/input/MockInput.java
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/DefaultLwjglInput.java
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/LwjglAWTInput.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/DefaultLwjgl3Input.java
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/DefaultIOSInput.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/DefaultGwtInput.java
  gdx/src/com/badlogic/gdx/Input.java
  gdx/src/com/badlogic/gdx/input/RemoteInput.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/OnscreenKeyboardTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/gwt/GwtTestWrapper.java
Labels: android, enhancement, input, ios

#6222 Added support ios split screen. Fixes #5814
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/IOSApplication.java
Labels: graphics, ios, non-breaking

#6233 Fix #6228. Removed delta smoothing on Android backend
  CHANGES
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/AndroidGraphics.java
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/AndroidGraphicsLiveWallpaper.java
  gdx/src/com/badlogic/gdx/Graphics.java
Labels: android, breaking change

#6243 Alternative asynchronous sound Android Audio implementation
  CHANGES
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/AsynchronousAndroidAudio.java
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/AsynchronousSound.java
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/DefaultAndroidAudio.java
Labels: android, audio

#6245 Fix wrong reported density on iOS
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/IOSApplication.java
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/IOSGraphics.java
Labels: graphics, ios

#6244 Updated IOSDevice list with last year devices
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/IOSDevice.java
Labels: ios

#6253 Add a skip-flag for GH Actions.
  .github/workflows/build.yml
Labels: build, enhancement

#6250 Support specifying which keyboard type to use for getTextInput
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/DefaultAndroidInput.java
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/surfaceview/GLSurfaceView20.java
  backends/gdx-backend-headless/src/com/badlogic/gdx/backends/headless/mock/input/MockInput.java
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/DefaultLwjglInput.java
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/LwjglAWTInput.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/DefaultLwjgl3Input.java
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/DefaultIOSInput.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/DefaultGwtInput.java
  gdx/src/com/badlogic/gdx/Input.java
  gdx/src/com/badlogic/gdx/input/RemoteInput.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/TextInputDialogTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/gwt/GwtTestWrapper.java
Labels: enhancement, input, non-breaking
