Repository libgdx/libgdx, pull requests merged in 2020-09, with the labels that each got.

#6133 Improved TextField and TextArea text, cursor and selection rendering
  CHANGES
  gdx/src/com/badlogic/gdx/scenes/scene2d/ui/TextArea.java
  gdx/src/com/badlogic/gdx/scenes/scene2d/ui/TextField.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/TextAreaTest3.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/gwt/GwtTestWrapper.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/utils/GdxTests.java
Labels: bug, scene2d

#5683 Getting the screen orientation in gwt
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/DefaultGwtInput.java
Labels: enhancement, gwt, non-breaking

#6155 remove Directional shadows deprecation
  gdx/src/com/badlogic/gdx/graphics/g3d/Environment.java
  gdx/src/com/badlogic/gdx/graphics/g3d/environment/DirectionalShadowLight.java
Labels: 3D, core

#5428 Fix #5388. Made Vector2 angle methods consistent
  CHANGES
  gdx/src/com/badlogic/gdx/math/Vector2.java
  gdx/test/com/badlogic/gdx/math/Vector2Test.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/GroupTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/Vector2dTest.java
Labels: breaking change

#4165 Add resizable/undecorated options to LWJGL
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/LwjglApplicationConfiguration.java
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/LwjglGraphics.java
Labels: LWJGL2, desktop, enhancement

#4314 Added md5 hash to file name for GWT preloader
  CHANGES
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/preloader/Preloader.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/preloader/PreloaderBundleGenerator.java
  tests/gdx-tests-android/assets/data/animation_gwt_lazy.png
  tests/gdx-tests-android/assets/data/pack.atlas
  tests/gdx-tests-gwt/res/com/badlogic/gdx/tests/gwt/GdxTestsGwt.gwt.xml
  tests/gdx-tests-gwt/src/com/badlogic/gdx/tests/gwt/client/GwtTestAssetFilter.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/AssetManagerTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/BitmapFontMetricsTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/IntegerBitmapFontTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/TextureAtlasTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/YDownTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/extensions/FreeTypeMetricsTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/gwt/GwtTest.java
Labels: enhancement, gwt

#6167 More efficient way of setting bone state
  gdx/src/com/badlogic/gdx/graphics/g3d/shaders/DefaultShader.java
Labels: 3D, enhancement, non-breaking

#6163 Applying latest branding rule
  CLA.txt
  CONTRIBUTORS
Labels: documentation

#6156 Fixes #5826.
  CHANGES
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/Lwjgl3Graphics.java
Labels: LWJGL3

#6149 AnimationController action end up at duration time, fixes #6145
  gdx/src/com/badlogic/gdx/graphics/g3d/utils/AnimationController.java
  gdx/test/com/badlogic/gdx/graphics/g3d/utils/AnimationControllerTest.java
Labels: 3D, bug

#6168 Adds scaleChanged callback to Actor.
  gdx/src/com/badlogic/gdx/scenes/scene2d/Actor.java
Labels: enhancement, non-breaking, scene2d

#6165 Gdxsetup config
  extensions/gdx-setup/README.md
  extensions/gdx-setup/src/com/badlogic/gdx/setup/ExternalExtensionsDialog.java
  extensions/gdx-setup/src/com/badlogic/gdx/setup/GdxSetupUI.java
  extensions/gdx-setup/src/com/badlogic/gdx/setup/SettingsDialog.java
  extensions/gdx-setup/src/com/badlogic/gdx/setup/SetupPreferences.java
Labels: enhancement, tools

#6160 Create Pixmap from video element on gwt
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/GwtGL20.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/emu/com/badlogic/gdx/graphics/Pixmap.java
Labels: enhancement, gwt

#6169 Gwt Backend support resizable application
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/GwtApplication.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/GwtApplicationConfiguration.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/GwtGraphics.java
  extensions/gdx-setup/res/com/badlogic/gdx/setup/resources/html/src/HtmlLauncher
  tests/gdx-tests-gwt/src/com/badlogic/gdx/tests/gwt/client/GwtTestStarter.java
  tests/gdx-tests-gwt/war/index.html
  tests/gdx-tests/src/com/badlogic/gdx/tests/gwt/GwtTestWrapper.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/gwt/GwtWindowModeTest.java
Labels: enhancement, graphics, gwt, non-breaking

#6171 Sprite minor performance improvements
  gdx/src/com/badlogic/gdx/graphics/g2d/Sprite.java
Labels: core

#6172 Minor MathUtils constants improvements
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/audio/OpenALLwjglAudio.java
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/audio/OpenALMusic.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/audio/OpenALLwjgl3Audio.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/audio/OpenALMusic.java
  gdx/src/com/badlogic/gdx/math/Interpolation.java
  gdx/src/com/badlogic/gdx/math/MathUtils.java
  gdx/test/com/badlogic/gdx/math/Vector2Test.java
Labels: core, non-breaking

#6173 GWT PreloaderBundleGenerator don't use Apache Commons
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/preloader/PreloaderBundleGenerator.java
Labels: build

#6174 ResolutionFileResolver now uses the back buffer size.
  gdx/src/com/badlogic/gdx/assets/loaders/resolvers/ResolutionFileResolver.java
Labels: graphics, non-breaking

#6182 Net: New method downloadPixmapFromHttpUrl
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/emu/com/badlogic/gdx/graphics/Pixmap.java
  gdx/src/com/badlogic/gdx/graphics/Pixmap.java
  tests/gdx-tests/res/com/badlogic/gdx/GdxTests.gwt.xml
  tests/gdx-tests/src/com/badlogic/gdx/tests/DownloadTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/gwt/GwtTestWrapper.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/utils/GdxTests.java
Labels: core, enhancement, non-breaking

#6177 Two-line fix for #4489 (DelaunayTriangulator bug)
  gdx/src/com/badlogic/gdx/math/DelaunayTriangulator.java
Labels: core, math

#6175 Add FRAMEBUFFER_BINDING support to GwtGL20.
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/GwtGL20.java
Labels: graphics, gwt, non-breaking

#6187 Fix sound and music not playing because of changed file names
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/GwtFileHandle.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/preloader/Preloader.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/webaudio/WebAudioAPIManager.java
Labels: audio, bug, gwt, non-breaking

#6188 GwtFileHandle lists all asset types and directories instead of only texts
  CHANGES
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/preloader/Preloader.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/FilesTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/gwt/GwtTestWrapper.java
Labels: enhancement, gwt, non-breaking

#6139 Add intersection between ray and obb
  CHANGES
  gdx/src/com/badlogic/gdx/math/Intersector.java
Labels: core, enhancement, math, non-breaking

#6142 Improve the README.
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE.md
  README.md
Labels: documentation, maintainer needed

#6178 Always center the window if its size was changed.
  CHANGES
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/Lwjgl3Graphics.java
Labels: LWJGL3, desktop, graphics
