Repository libgdx/libgdx, pull requests merged in 2021-02, with the labels that each got.

#6379 Add a Pool#discard(T) method.
  gdx/src/com/badlogic/gdx/utils/Pool.java
Labels: core

#6388 Add a ParticleEffectActor
  gdx/src/com/badlogic/gdx/scenes/scene2d/ui/ParticleEffectActor.java
Labels: core, scene2d

#6393 jcenter is shutting down, replace by Gradle Plugins
  build.gradle
  extensions/gdx-setup/src/com/badlogic/gdx/setup/BuildScriptHelper.java
  extensions/gdx-setup/src/com/badlogic/gdx/setup/DependencyBank.java
Labels: build

#6389 FloatCounter, add tostring and implement poolable
  gdx/src/com/badlogic/gdx/math/FloatCounter.java
Labels: enhancement, math

#6408 Make AndroidNet#openURI compatible with targetSdk 30, fixes #6377
  CHANGES
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/AndroidNet.java
Labels: android, net

#6391 Convert Scaling from an Enum to an Object.
  CHANGES
  gdx/src/com/badlogic/gdx/utils/Scaling.java
Labels: breaking change

#5839 Java 7
  CHANGES
  build.xml
  extensions/gdx-setup/build.xml
  pom.xml
Labels: build, maintainer needed

#6422 Enable LWJGL 3's autoIconify by default.
  CHANGES
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/Lwjgl3WindowConfiguration.java
Labels: LWJGL3, non-breaking w/ config

#6424 Set window title on gwt
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/GwtGraphics.java
Labels: enhancement, gwt
