Repository libgdx/libgdx, pull requests merged in 2021-07, with the labels that each got.

#6386 Split GWT reflection cache into two generated classes
  backends/gdx-backends-gwt/src/com/badlogic/gwtref/client/IReflectionCache2.java
  backends/gdx-backends-gwt/src/com/badlogic/gwtref/client/ReflectionCache.java
  backends/gdx-backends-gwt/src/com/badlogic/gwtref/client/Type.java
  backends/gdx-backends-gwt/src/com/badlogic/gwtref/gen/ReflectionCacheGenerator.java
  backends/gdx-backends-gwt/src/com/badlogic/gwtref/gen/ReflectionCacheSourceCreator.java
Labels: enhancement, gwt

#6463 Make LWJGL3 the default desktop backend & update gdx-setup.
  CHANGES
  extensions/gdx-setup/res/com/badlogic/gdx/setup/data/extensions.xml
  extensions/gdx-setup/res/com/badlogic/gdx/setup/data/logo.png
  extensions/gdx-setup/res/com/badlogic/gdx/setup/resources/lwjgl2/build.gradle
  extensions/gdx-setup/res/com/badlogic/gdx/setup/resources/lwjgl2/src/DesktopLauncher
  extensions/gdx-setup/res/com/badlogic/gdx/setup/resources/lwjgl3/build.gradle
  extensions/gdx-setup/res/com/badlogic/gdx/setup/resources/lwjgl3/src/DesktopLauncher
  extensions/gdx-setup/src/com/badlogic/gdx/setup/BuildScriptHelper.java
  extensions/gdx-setup/src/com/badlogic/gdx/setup/DependencyBank.java
  extensions/gdx-setup/src/com/badlogic/gdx/setup/ExternalExtension.java
  extensions/gdx-setup/src/com/badlogic/gdx/setup/GdxSetup.java
  extensions/gdx-setup/src/com/badlogic/gdx/setup/GdxSetupUI.java
  extensions/gdx-setup/src/com/badlogic/gdx/setup/Language.java
Labels: desktop, tools

#6609 Fixes #5762
  extensions/gdx-box2d/gdx-box2d-gwt/src/com/badlogic/gdx/physics/box2d/gwt/emu/org/jbox2d/dynamics/joints/RopeJoint.java
Labels: box2d, bug

#6600 Fix NPE in Type#getDeclaredAnnotation
  backends/gdx-backends-gwt/src/com/badlogic/gwtref/gen/ReflectionCacheSourceCreator.java
Labels: bug, gwt
