Repository libgdx/libgdx, pull requests merged in 2021-05, with the labels that each got.

#6508 fix audio voice stealing
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/audio/OpenALLwjglAudio.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/audio/OpenALLwjgl3Audio.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/conformance/AudioSoundAndMusicIsolationTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/utils/GdxTests.java
Labels: audio, bug

#6421 Enhance ObjLoader
  CHANGES
  gdx/src/com/badlogic/gdx/graphics/g3d/loader/ObjLoader.java
Labels: 3D, enhancement

#6456 Update desktop package name to look like other projects
  extensions/gdx-setup/res/com/badlogic/gdx/setup/resources/desktop/build.gradle
  extensions/gdx-setup/res/com/badlogic/gdx/setup/resources/desktop/src/DesktopLauncher
  extensions/gdx-setup/src/com/badlogic/gdx/setup/GdxSetup.java
Labels: code quality

#6521 iOS Call glViewport on device rotation, fixes #6514
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/IOSUIViewController.java
Labels: bug, graphics, ios

#6534 Fix #6464: TMX built-in tile property "type" is now supported.
  CHANGES
  gdx/src/com/badlogic/gdx/maps/tiled/BaseTmxMapLoader.java
Labels: enhancement, tilemap

#6543 Fix LWJGL3Net#openURI on macOS & JDK >= 16
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/Lwjgl3Net.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/net/NetAPITest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/net/OpenBrowserExample.java
Labels: LWJGL3, bug, desktop, net
