Repository libgdx/libgdx, pull requests merged in 2021-01, with the labels that each got.

#6336 Add an Abstract Graphics class
  CHANGES
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/AndroidGraphics.java
  backends/gdx-backend-headless/src/com/badlogic/gdx/backends/headless/mock/graphics/MockGraphics.java
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/LwjglGraphics.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/Lwjgl3Graphics.java
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/IOSApplication.java
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/IOSGraphics.java
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/IOSUIViewController.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/GwtGraphics.java
  gdx/res/com/badlogic/gdx.gwt.xml
  gdx/src/com/badlogic/gdx/AbstractGraphics.java
  gdx/src/com/badlogic/gdx/Graphics.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/AssetManagerTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/bullet/ContactCacheTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/g3d/BaseG3dHudTest.java
Labels: GL, code quality, core, graphics

#6303 fix AnimationController and AnimationDesc update
  CHANGES
  gdx/src/com/badlogic/gdx/graphics/g3d/utils/AnimationController.java
  gdx/test/com/badlogic/gdx/graphics/g3d/utils/AnimationControllerTest.java
  gdx/test/com/badlogic/gdx/graphics/g3d/utils/AnimationDescTest.java
Labels: 3D, breaking change, bug

#6342 iOS 14 detect connected hardware keyboard reliably
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/DefaultIOSInput.java
  extensions/gdx-setup/res/com/badlogic/gdx/setup/resources/ios/robovm.xml
  tests/gdx-tests-iosrobovm/robovm.xml
Labels: input, ios

#6346 move ScreenUtils GWT specifics to Pixmap
  CHANGES
  backends/gdx-backends-gwt/issues.txt
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/emu/com/badlogic/gdx/graphics/Pixmap.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/emu/com/badlogic/gdx/utils/ScreenUtils.java
  gdx/src/com/badlogic/gdx/graphics/Pixmap.java
  gdx/src/com/badlogic/gdx/utils/ScreenUtils.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/AlphaTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/PixmapTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/PngTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/gwt/GwtTestWrapper.java
Labels: enhancement

#6350 Fix keycode for FOWARD_DEL on GWT and iOS
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/DefaultIOSInput.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/DefaultGwtInput.java
Labels: bug, gwt, input, ios

#6262 Cache Box2D Fixture filter data to avoid JNI overhead V2
  extensions/gdx-box2d/gdx-box2d/src/com/badlogic/gdx/physics/box2d/Filter.java
  extensions/gdx-box2d/gdx-box2d/src/com/badlogic/gdx/physics/box2d/Fixture.java
Labels: box2d

#6351 Introduce an AbstractInput class and consolidate some methods
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/DefaultAndroidInput.java
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/DefaultLwjglInput.java
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/LwjglAWTInput.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/DefaultLwjgl3Input.java
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/DefaultIOSInput.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/DefaultGwtInput.java
  gdx/res/com/badlogic/gdx.gwt.xml
  gdx/src/com/badlogic/gdx/AbstractInput.java
Labels: core, input

#6327 Ios delta pause bugfix like on android
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/IOSGraphics.java
Labels: ios

#6358 Make instantiation of Files overridable
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/AndroidApplication.java
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/AndroidDaydream.java
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/AndroidFiles.java
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/AndroidFragmentApplication.java
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/AndroidLiveWallpaper.java
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/DefaultAndroidFiles.java
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/LwjglApplication.java
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/LwjglCanvas.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/Lwjgl3Application.java
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/IOSApplication.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/GwtApplication.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/GwtFiles.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/FilesTest.java
Labels: code quality, file handling

#6309 GLES 3.0 glMapBufferRange implementation and PBO example
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/AndroidGL30.java
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/LwjglGL20.java
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/LwjglGL30.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/Lwjgl3GL30.java
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/IOSGLES30.java
  gdx/jni/iosgl/iosgl30.cpp
  gdx/jni/iosgl/iosgl30.h
  gdx/src/com/badlogic/gdx/graphics/GL30.java
  gdx/src/com/badlogic/gdx/graphics/profiling/GL30Interceptor.java
  tests/gdx-tests-lwjgl3/src/com/badlogic/gdx/tests/lwjgl3/Lwjgl3TestStarter.java
  tests/gdx-tests/res/com/badlogic/gdx/GdxTests.gwt.xml
  tests/gdx-tests/src/com/badlogic/gdx/tests/gles3/PixelBufferObjectTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/utils/GdxTests.java
Labels: GL, enhancement, help wanted

#6331 Cast to Buffer
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/ZipResourceFile.java
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/LwjglGL20.java
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/LwjglGL30.java
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/LwjglGraphics.java
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/audio/OpenALAudioDevice.java
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/audio/OpenALLwjglAudio.java
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/audio/OpenALMusic.java
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/audio/OpenALSound.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/Lwjgl3GL20.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/Lwjgl3GL30.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/audio/OggInputStream.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/audio/OpenALAudioDevice.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/audio/OpenALLwjgl3Audio.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/audio/OpenALMusic.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/audio/OpenALSound.java
  extensions/gdx-bullet/jni/swig-src/extras/com/badlogic/gdx/physics/bullet/extras/btBulletWorldImporter.java
  extensions/gdx-tools/src/com/badlogic/gdx/tools/hiero/BMFontUtil.java
  extensions/gdx-tools/src/com/badlogic/gdx/tools/hiero/unicodefont/GlyphPage.java
  extensions/gdx-tools/src/com/badlogic/gdx/tools/ktx/KTXProcessor.java
  gdx/src/com/badlogic/gdx/graphics/GLTexture.java
  gdx/src/com/badlogic/gdx/graphics/Mesh.java
  gdx/src/com/badlogic/gdx/graphics/PixmapIO.java
  gdx/src/com/badlogic/gdx/graphics/g2d/SpriteBatch.java
  gdx/src/com/badlogic/gdx/graphics/g2d/SpriteCache.java
  gdx/src/com/badlogic/gdx/graphics/g3d/Model.java
  gdx/src/com/badlogic/gdx/graphics/glutils/ETC1.java
  gdx/src/com/badlogic/gdx/graphics/glutils/GLFrameBuffer.java
  gdx/src/com/badlogic/gdx/graphics/glutils/IndexArray.java
  gdx/src/com/badlogic/gdx/graphics/glutils/IndexBufferObject.java
  gdx/src/com/badlogic/gdx/graphics/glutils/IndexBufferObjectSubData.java
  gdx/src/com/badlogic/gdx/graphics/glutils/InstanceBufferObject.java
  gdx/src/com/badlogic/gdx/graphics/glutils/InstanceBufferObjectSubData.java
  gdx/src/com/badlogic/gdx/graphics/glutils/KTXTextureData.java
  gdx/src/com/badlogic/gdx/graphics/glutils/ShaderProgram.java
  gdx/src/com/badlogic/gdx/graphics/glutils/VertexArray.java
  gdx/src/com/badlogic/gdx/graphics/glutils/VertexBufferObject.java
  gdx/src/com/badlogic/gdx/graphics/glutils/VertexBufferObjectSubData.java
  gdx/src/com/badlogic/gdx/graphics/glutils/VertexBufferObjectWithVAO.java
  gdx/src/com/badlogic/gdx/utils/ScreenUtils.java
  gdx/src/com/badlogic/gdx/utils/StreamUtils.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/BufferUtilsTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/VBOWithVAOPerformanceTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/bullet/OcclusionBuffer.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/bullet/OcclusionCuller.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/bullet/SoftBodyTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/g3d/HeightField.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/gles3/InstancedRenderingTest.java
Labels: android, bug, build, controversial

#6365 New IosTestWrapper derived from GwtTestWrapper
  tests/gdx-tests-gwt/src/com/badlogic/gdx/tests/gwt/client/GwtTestStarter.java
  tests/gdx-tests-gwt/src/com/badlogic/gdx/tests/gwt/client/GwtTestWrapper.java
  tests/gdx-tests-iosrobovm/src/com/badlogic/gdx/tests/IOSRobovmTests.java
  tests/gdx-tests-iosrobovm/src/com/badlogic/gdx/tests/IosTestWrapper.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/AbstractTestWrapper.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/gwt/GwtTestWrapper.java
Labels: ios

#6306 Add a Graphics#setForegroundFPS() method.
  CHANGES
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/AndroidGraphics.java
  backends/gdx-backend-headless/src/com/badlogic/gdx/backends/headless/HeadlessApplication.java
  backends/gdx-backend-headless/src/com/badlogic/gdx/backends/headless/HeadlessApplicationConfiguration.java
  backends/gdx-backend-headless/src/com/badlogic/gdx/backends/headless/mock/graphics/MockGraphics.java
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/LwjglGraphics.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/Lwjgl3Application.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/Lwjgl3Graphics.java
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/IOSGraphics.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/GwtGraphics.java
  gdx/src/com/badlogic/gdx/Graphics.java
Labels: graphics
