Repository libgdx/libgdx, pull requests merged in 2021-12, with the labels that each got.

#6652 Replace gradle deprecations
  backends/build.gradle
  backends/gdx-backend-headless/build.gradle
  backends/gdx-backend-lwjgl/build.gradle
  backends/gdx-backend-lwjgl3/build.gradle
  backends/gdx-backend-robovm/build.gradle
  backends/gdx-backends-gwt/build.gradle
  build.gradle
  extensions/gdx-box2d/build.gradle
  extensions/gdx-bullet/build.gradle
  extensions/gdx-freetype/build.gradle
  extensions/gdx-setup/build.gradle
  extensions/gdx-tools/build.gradle
  gdx/build.gradle
  gradle/dependencies.gradle
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  tests/gdx-tests-android/build.gradle
  tests/gdx-tests-gwt/build.gradle
  tests/gdx-tests-iosrobovm/build.gradle
  tests/gdx-tests-lwjgl/build.gradle
  tests/gdx-tests-lwjgl3/build.gradle
  tests/gdx-tests/build.gradle
Labels: gradle, build

#6722 fix bad camera reference by using instance variable instead of parameter
  gdx/src/com/badlogic/gdx/graphics/g3d/decals/CameraGroupStrategy.java
Labels: bug

#6621 fix #6618 move vertex array index buffer limit to backends
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/LwjglGL20.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/Lwjgl3GL20.java
  gdx/src/com/badlogic/gdx/graphics/GL20.java
  gdx/src/com/badlogic/gdx/graphics/Mesh.java
  tests/gdx-tests-gwt/src/com/badlogic/gdx/tests/gwt/client/GwtTestWrapper.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/gles2/VertexArrayTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/utils/CommandLineOptions.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/utils/GdxTestConfig.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/utils/GdxTests.java
Labels: bug, LWJGL3, GL, LWJGL2, Android validation, iOS validation
