Repository libgdx/libgdx, pull requests merged in 2021-06, with the labels that each got.

#6549 Include macosxarm64 libraries in natives-desktop jars
  extensions/gdx-box2d/gdx-box2d/jni/maven/pom.xml
  extensions/gdx-bullet/jni/maven/pom.xml
  extensions/gdx-freetype/jni/maven/pom.xml
  gdx/jni/maven/pom.xml
Labels: build

#6536 Fix asset manager deadlock on dispose and clear
  gdx/src/com/badlogic/gdx/assets/AssetManager.java
Labels: bug, core

#6527 fix stereo for sounds and audio device. fixes #6526
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/audio/OpenALLwjgl3Audio.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/audio/OpenALMusic.java
  tests/gdx-tests-android/assets/data/bubblepop-stereo-left-only.wav
  tests/gdx-tests/src/com/badlogic/gdx/tests/AudioDeviceTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/SoundTest.java
Labels: LWJGL3, audio, bug

#6545 Implemented inversion of controls in CameraInputController
  gdx/src/com/badlogic/gdx/graphics/g3d/utils/CameraInputController.java
Labels: 3D, core, enhancement

#6548 Allow skipping natives download during mvn install.
  pom.xml
Labels: build

#6551 Remove com.apple:AppleJavaExtension dependency
  backends/gdx-backend-lwjgl3/libs/AppleJavaExtensions-1.4.jar
  backends/gdx-backend-lwjgl3/pom.xml
  gradle/dependencies.gradle
Labels: build, desktop

#6229 Add Octree
  CHANGES
  gdx/res/com/badlogic/gdx.gwt.xml
  gdx/src/com/badlogic/gdx/math/Intersector.java
  gdx/src/com/badlogic/gdx/math/Octree.java
  gdx/test/com/badlogic/gdx/math/OctreeTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/math/OctreeTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/utils/GdxTests.java
Labels: 3D, enhancement

#6569 Protect Android MediaPlayer from getting into invalid state
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/AndroidMusic.java
Labels: android, audio, bug
