Repository libgdx/libgdx, pull requests merged in 2021-03, with the labels that each got.

#6434 Fixes #6433: HTTP request gets rejected if configuration option maxNetThreads is set
  gdx/src/com/badlogic/gdx/net/NetJavaImpl.java
Labels: android, desktop, ios, net

#6409 GWT: when HTTP connection fails, route to httpResultListener.failed
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/GwtNet.java
Labels: bug, gwt, net

#6455 Fix #6454
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/IOSGraphics.java
Labels: bug, graphics, ios

#6443 added new methods getRate and getChannels for Desktop Sound
  CHANGES
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/audio/OpenALSound.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/audio/OpenALSound.java
Labels: desktop, enhancement

#6451 enable GL errors in tests via commandLine argument, and fix a test
  tests/gdx-tests-lwjgl/src/com/badlogic/gdx/tests/lwjgl/LwjglTestStarter.java
  tests/gdx-tests-lwjgl3/src/com/badlogic/gdx/tests/lwjgl3/Lwjgl3TestStarter.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/VertexBufferObjectShaderTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/utils/CommandLineOptions.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/utils/GdxTestWrapper.java
Labels: GL, test only
