Repository libgdx/libgdx, pull requests merged in 2021-09, with the labels that each got.

#6615 gdx-setup: Move assets folder to project root; add asset settings; Android/GWT fixes
  CHANGES
  extensions/gdx-setup/README.md
  extensions/gdx-setup/res/com/badlogic/gdx/setup/resources/android/AndroidManifest.xml
  extensions/gdx-setup/res/com/badlogic/gdx/setup/resources/android/build.gradle
  extensions/gdx-setup/res/com/badlogic/gdx/setup/resources/assets/badlogic.jpg
  extensions/gdx-setup/res/com/badlogic/gdx/setup/resources/html/build.gradle
  extensions/gdx-setup/res/com/badlogic/gdx/setup/resources/html/war/refresh.png
  extensions/gdx-setup/src/com/badlogic/gdx/setup/ExternalExtensionsDialog.java
  extensions/gdx-setup/src/com/badlogic/gdx/setup/GdxSetup.java
  extensions/gdx-setup/src/com/badlogic/gdx/setup/GdxSetupUI.java
  extensions/gdx-setup/src/com/badlogic/gdx/setup/SettingsDialog.java
Labels: build

#6611 Prevent repeated mipmap generation in FileTextureArrayData
  gdx/src/com/badlogic/gdx/graphics/glutils/FileTextureArrayData.java
Labels: enhancement, GL, non-breaking

#6627 README etc. changes; fix broken links; remove executable permission from non-executables
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  CHANGES
  README.md
  backends/gdx-backend-headless/src/com/badlogic/gdx/backends/headless/HeadlessApplication.java
  backends/gdx-backend-headless/src/com/badlogic/gdx/backends/headless/HeadlessApplicationConfiguration.java
  backends/gdx-backend-headless/src/com/badlogic/gdx/backends/headless/HeadlessFiles.java
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/DefaultIOSInput.java
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/IOSApplication.java
  extensions/gdx-box2d/gdx-box2d/jni/Box2D/Box2D.h
  extensions/gdx-box2d/gdx-box2d/jni/Box2D/Collision/b2BroadPhase.h
  extensions/gdx-bullet/jni/src/bullet/BulletCollision/CollisionDispatch/btConvexConvexAlgorithm.h
  extensions/gdx-freetype/src/com/badlogic/gdx/graphics/g2d/freetype/FreeTypeFontGenerator.java
  extensions/gdx-tools/assets/uiskin.atlas
  extensions/gdx-tools/assets/uiskin.png
  fetch.xml
  gdx/src/com/badlogic/gdx/Application.java
  gdx/src/com/badlogic/gdx/graphics/g2d/PixmapPacker.java
  gdx/src/com/badlogic/gdx/scenes/scene2d/InputEvent.java
  libgdx_logo.svg
  tests/gdx-tests-android/assets/data/maps/tiled-atlas-src/tilesets/tileset1.png
  tests/gdx-tests-android/assets/data/maps/tiled/super-koalio/koalio.png
  tests/gdx-tests-android/assets/data/maps/tiled/super-koalio/level1.tmx
  tests/gdx-tests-android/assets/data/maps/tiled/super-koalio/tileSet.png
  tests/gdx-tests-android/assets/data/uiskin.atlas
  tests/gdx-tests-android/assets/data/uiskin.png
  tests/gdx-tests-android/res/xml/livewallpaper.xml
  tests/gdx-tests/src/com/badlogic/gdx/tests/PixmapPackerIOTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/PixmapPackerTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/extensions/FreeTypeAtlasTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/extensions/FreeTypePackTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/utils/GdxTests.java
Labels: maintainer needed

#6595 Audio: Add pause/resume methods to AudioDevice.
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/AndroidAudioDevice.java
  backends/gdx-backend-headless/src/com/badlogic/gdx/backends/headless/mock/audio/MockAudioDevice.java
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/audio/OpenALAudioDevice.java
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/audio/OpenALLwjglAudio.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/audio/OpenALAudioDevice.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/audio/OpenALLwjgl3Audio.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/audio/mock/MockAudioDevice.java
  gdx/src/com/badlogic/gdx/audio/AudioDevice.java
Labels: breaking change, audio

#6654 Improve iOS Music loading
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/IOSMusic.java
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/objectal/OALAudioTrack.java
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/objectal/OALIOSAudio.java
Labels: ios, audio

#6650 Fix #6643 and improvements to iOS supported orientations logic
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/DefaultIOSInput.java
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/IOSUIViewController.java
Labels: ios
