Repository libgdx/libgdx, pull requests merged in 2021-04, with the labels that each got.

#6476 allow running individual test for Lwjgl3 backend (like Lwjgl2)
  tests/gdx-tests-lwjgl3/src/com/badlogic/gdx/tests/lwjgl3/Lwjgl3TestStarter.java
Labels: test only

#6484 Fix wrong sizes provided to glViewport and listener on Physical HdpiMode
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/IOSGraphics.java
Labels: bug, graphics, ios

#6496 check bones count when creating shaders
  gdx/src/com/badlogic/gdx/graphics/g3d/shaders/DefaultShader.java
  gdx/src/com/badlogic/gdx/graphics/g3d/shaders/DepthShader.java
Labels: 3D

#6467 AtomicQueue add test coverage
  gdx/src/com/badlogic/gdx/utils/AtomicQueue.java
  gdx/test/com/badlogic/gdx/utils/AtomicQueueTest.java
Labels: code quality

#6469 FlushablePool add test coverage
  gdx/src/com/badlogic/gdx/utils/FlushablePool.java
  gdx/test/com/badlogic/gdx/utils/FlushablePoolTest.java
Labels: code quality

#6472 Fix #3935 and other improvements
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/AndroidMusic.java
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/DefaultAndroidAudio.java
  tests/gdx-tests-android/assets/data/playback.png
  tests/gdx-tests-android/assets/data/player_pause.png
  tests/gdx-tests-android/assets/data/player_play.png
  tests/gdx-tests-android/assets/data/player_stop.png
  tests/gdx-tests/src/com/badlogic/gdx/tests/MusicTest.java
Labels: android, audio

#6510 fetch jnigen loader jar and add it to gdx classpath
  fetch.xml
  gdx/.classpath
Labels: bug, build
