Repository libgdx/libgdx, pull requests merged in 2022-03, with the labels that each got.

#6802 fixed forced attributes type/normalize in GWT backend
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/emu/com/badlogic/gdx/graphics/glutils/VertexBufferObject.java
  tests/gdx-tests-gwt/src/com/badlogic/gdx/tests/gwt/client/GwtTestWrapper.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/MeshWithCustomAttributesTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/utils/GdxTests.java
Labels: bug, gwt, graphics

#6683 Remove Android hideStatusBar config
  CHANGES
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/AndroidApplication.java
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/AndroidApplicationConfiguration.java
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/AndroidDaydream.java
Labels: android, breaking change

#6665 Fix #6664: HTTP request cancels the request properly.
  gdx/src/com/badlogic/gdx/net/NetJavaImpl.java
Labels: bug, net

#6798 Allow setting null to a bullet body shape
  extensions/gdx-bullet/jni/swig-src/collision/com/badlogic/gdx/physics/bullet/collision/btCollisionObject.java
Labels: bug, bullet
