Repository libgdx/libgdx, pull requests merged in 2022-05, with the labels that each got.

#6873 improve face culling javadoc
  gdx/src/com/badlogic/gdx/graphics/g3d/attributes/IntAttribute.java
Labels: documentation

#6879 fix SortedIntList when used with allocateIterators
  gdx/src/com/badlogic/gdx/utils/SortedIntList.java
  gdx/test/com/badlogic/gdx/utils/SortedIntListTest.java
Labels: bug, core

#6838 Never stall with AssetManager on GWT
  gdx/src/com/badlogic/gdx/assets/AssetManager.java
Labels: gwt
