Repository libgdx/libgdx, pull requests merged in 2022-06, with the labels that each got.

#6811 Update to Android Gradle Plugin 7.0.4 and API level 31
  .github/workflows/build-publish.yml
  .github/workflows/build-pullrequest.yml
  .github/workflows/fix-formatting.yml
  .gitignore
  CHANGES
  backends/gdx-backend-robovm-metalangle/build.gradle
  backends/gdx-backend-robovm/build.gradle
  extensions/gdx-setup/res/com/badlogic/gdx/setup/resources/android/build.gradle
  extensions/gdx-setup/res/com/badlogic/gdx/setup/resources/gitignore
  extensions/gdx-setup/src/com/badlogic/gdx/setup/DependencyBank.java
  gdx/build.gradle
  gradle/dependencies.gradle
  gradle/wrapper/gradle-wrapper.properties
  tests/gdx-tests-android/AndroidManifest.xml
  tests/gdx-tests-android/build.gradle
Labels: maintainer needed

#6893 Set new defaults for auto-hide home indicator and screen edges deferring system gestures
  CHANGES
  backends/gdx-backend-robovm-metalangle/src/com/badlogic/gdx/backends/iosrobovm/IOSApplicationConfiguration.java
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/IOSApplicationConfiguration.java
Labels: ios

#6899 Fix to iOS Haptics
  backends/gdx-backend-robovm-metalangle/src/com/badlogic/gdx/backends/iosrobovm/IOSHaptics.java
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/IOSHaptics.java
Labels: ios

#6892 Set immersive mode to true by default on Android
  CHANGES
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/AndroidApplicationConfiguration.java
Labels: android
