Repository libgdx/libgdx, pull requests merged in 2022-11, with the labels that each got.

#6717 Add config to set preferred fps to max supported by device
  CHANGES
  backends/gdx-backend-robovm-metalangle/src/com/badlogic/gdx/backends/iosrobovm/IOSApplicationConfiguration.java
  backends/gdx-backend-robovm-metalangle/src/com/badlogic/gdx/backends/iosrobovm/IOSGraphics.java
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/IOSApplicationConfiguration.java
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/IOSGraphics.java
Labels: ios, breaking change, graphics

#6917 [LWJGL3] Negative monitor coords
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/Lwjgl3Graphics.java
Labels: desktop, LWJGL3

#7000 Upgrade gha XCode to 13.2
  .github/workflows/build-publish.yml
Labels: build

#6993 Make libGDX buildable from source again with XCode 14
  backends/gdx-backend-robovm/build-objectal.sh
  gdx/build.gradle
Labels: build

#6965 Throw Exception when maximum attribute count reached
  CHANGES
  gdx/src/com/badlogic/gdx/graphics/g3d/Attribute.java
Labels: bug, 3D

#6915 disable depth mask when rendering transparent decals
  gdx/src/com/badlogic/gdx/graphics/g3d/decals/CameraGroupStrategy.java
Labels: bug, 3D

#6940 Allow overriding native library loading in android
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/AndroidApplication.java
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/AndroidApplicationConfiguration.java
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/GdxNativeLoader.java
Labels: android

#6980 Remix unmatched audio channels instead of dropping them
  CHANGES
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/audio/OpenALLwjgl3Audio.java
Labels: bug, LWJGL3, audio

#6947 GLES 3.0 Texture3D support
  CHANGES
  gdx/res/com/badlogic/gdx.gwt.xml
  gdx/src/com/badlogic/gdx/graphics/Texture3D.java
  gdx/src/com/badlogic/gdx/graphics/Texture3DData.java
  gdx/src/com/badlogic/gdx/graphics/glutils/CustomTexture3DData.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/gles3/GL30Texture3DTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/utils/GdxTests.java
Labels: enhancement, GL

#6522 3D : take vertex attribute unit into account when creating shaders
  CHANGES
  gdx/src/com/badlogic/gdx/graphics/VertexAttributes.java
  gdx/src/com/badlogic/gdx/graphics/g3d/shaders/DefaultShader.java
  gdx/src/com/badlogic/gdx/graphics/g3d/shaders/DepthShader.java
Labels: bug, breaking change, 3D

#7032 fix bone weights default values
  gdx/src/com/badlogic/gdx/graphics/g3d/shaders/DefaultShader.java
Labels: bug, 3D

#6394 GLES3 added glTexImage2D and glTexSubImage2D with offset parameter
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/AndroidGL30.java
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/LwjglGL30.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/Lwjgl3GL30.java
  backends/gdx-backend-robovm-metalangle/src/com/badlogic/gdx/backends/iosrobovm/IOSGLES30.java
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/IOSGLES30.java
  gdx/jni/iosgl/iosgl30.cpp
  gdx/jni/iosgl/iosgl30.h
  gdx/src/com/badlogic/gdx/graphics/GL30.java
  gdx/src/com/badlogic/gdx/graphics/profiling/GL30Interceptor.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/gles3/PixelBufferObjectTest.java
Labels: GL
