Repository libgdx/libgdx, pull requests merged in 2022-07, with the labels that each got.

#6905 Fix iOS Keyboard type not changing immediately
  backends/gdx-backend-robovm-metalangle/src/com/badlogic/gdx/backends/iosrobovm/DefaultIOSInput.java
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/DefaultIOSInput.java
Labels: ios

#6871 Handle Touch Cancel events on iOS and Android
  CHANGES
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/AndroidTouchHandler.java
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/DefaultAndroidInput.java
  backends/gdx-backend-robovm-metalangle/src/com/badlogic/gdx/backends/iosrobovm/DefaultIOSInput.java
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/DefaultIOSInput.java
  extensions/gdx-tools/src/com/badlogic/gdx/tools/particleeditor/ParticleEditor.java
  gdx/src/com/badlogic/gdx/InputAdapter.java
  gdx/src/com/badlogic/gdx/InputMultiplexer.java
  gdx/src/com/badlogic/gdx/InputProcessor.java
  gdx/src/com/badlogic/gdx/input/RemoteSender.java
  gdx/src/com/badlogic/gdx/scenes/scene2d/Stage.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/ParticleEmitterChangeSpriteTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/ParticleEmitterTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/box2d/Box2DTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/bullet/BulletTest.java
Labels: ios, android

#6919 Remove fallback on Android Haptics vibrate(VibrationType)
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/AndroidHaptics.java
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/DefaultAndroidInput.java
Labels: android

#6898 Fix zoomed issue on MetalANGLE backend
  backends/gdx-backend-robovm-metalangle/src/com/badlogic/gdx/backends/iosrobovm/IOSUIViewController.java
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/IOSUIViewController.java
Labels: ios

#6931 fix javadoc for AnimationController
  gdx/src/com/badlogic/gdx/graphics/g3d/utils/AnimationController.java
Labels: documentation

#6928 Remove copyIdeaResources tasks
  extensions/gdx-lwjgl3-angle/build.gradle
  extensions/gdx-lwjgl3-glfw-awt-macos/build.gradle
  gdx/build.gradle
Labels: gradle, build

#6936 Fix building ye runnables
  extensions/gdx-tools/build.gradle
Labels: build

#6930 Fixed ScrollPane not using newScrollPane()
  gdx/src/com/badlogic/gdx/scenes/scene2d/ui/SelectBox.java
Labels: bug, scene2d
