Repository libgdx/libgdx, pull requests merged in 2023-05, with the labels that each got.

#6968 Fix LwjglGraphics.setupDisplay() choosing the wrong display mode
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/LwjglGraphics.java
Labels: bug, desktop, LWJGL2

#7128 optimize instanced rendering with renderables (using cache)
  CHANGES
  gdx/src/com/badlogic/gdx/graphics/Mesh.java
  gdx/src/com/badlogic/gdx/graphics/g3d/shaders/BaseShader.java
Labels: enhancement, breaking change, graphics

#6973 Add API to (auto) switch output device on lwjgl3
  CHANGES
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/DefaultAndroidAudio.java
  backends/gdx-backend-headless/src/com/badlogic/gdx/backends/headless/mock/audio/MockAudio.java
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/audio/OpenALLwjglAudio.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/audio/OpenALLwjgl3Audio.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/audio/mock/MockAudio.java
  backends/gdx-backend-robovm-metalangle/src/com/badlogic/gdx/backends/iosrobovm/objectal/OALIOSAudio.java
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/objectal/OALIOSAudio.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/DefaultGwtAudio.java
  gdx/src/com/badlogic/gdx/Audio.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/AudioChangeDeviceTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/utils/GdxTests.java
Labels: enhancement, LWJGL3, audio

#7149 Resolve NPE on null instance attributes
  gdx/src/com/badlogic/gdx/graphics/g3d/shaders/BaseShader.java
Labels: bug, graphics

#7147 Fixed setting Gradle javaVersion for Eclipse project file generation.
  backends/build.gradle
  backends/gdx-backend-lwjgl3/build.gradle
  extensions/build.gradle
  gdx/build.gradle
  tests/build.gradle
  tests/gdx-tests-lwjgl3/build.gradle
Labels: build
