Repository libgdx/libgdx, pull requests merged in 2023-04, with the labels that each got.

#7005 Update gha to ubuntu-20.04
  .github/workflows/build-publish.yml
Labels: build

#7127 fix instanced rendering when used with Renderable or Model
  gdx/src/com/badlogic/gdx/graphics/Mesh.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/gles3/ModelInstancedRenderingTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/utils/GdxTests.java
Labels: bug, graphics

#7126 fix OpenGL version in tests
  tests/gdx-tests-lwjgl/src/com/badlogic/gdx/tests/lwjgl/LwjglTestStarter.java
  tests/gdx-tests-lwjgl3/src/com/badlogic/gdx/tests/lwjgl3/Lwjgl3TestStarter.java
Labels: bug, test only

#7037 WebGL2 Backend
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/GwtApplication.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/GwtApplicationConfiguration.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/GwtGL20.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/GwtGL30.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/GwtGL30Debug.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/GwtGraphics.java
  backends/gdx-backends-gwt/src/com/google/gwt/webgl/client/WebGL2RenderingContext.java
  backends/gdx-backends-gwt/src/com/google/gwt/webgl/client/WebGLQuery.java
  backends/gdx-backends-gwt/src/com/google/gwt/webgl/client/WebGLSampler.java
  backends/gdx-backends-gwt/src/com/google/gwt/webgl/client/WebGLTransformFeedback.java
  backends/gdx-backends-gwt/src/com/google/gwt/webgl/client/WebGLVertexArrayObject.java
  gdx/res/com/badlogic/gdx.gwt.xml
  gdx/src/com/badlogic/gdx/graphics/glutils/FloatFrameBuffer.java
  gdx/src/com/badlogic/gdx/graphics/glutils/FloatTextureData.java
  gdx/src/com/badlogic/gdx/graphics/glutils/FrameBuffer.java
  tests/gdx-tests-android/assets/data/shaders/ubo.frag
  tests/gdx-tests-android/assets/data/shaders/ubo.vert
  tests/gdx-tests-gwt/build.gradle
  tests/gdx-tests-gwt/src/com/badlogic/gdx/tests/gwt/client/GwtTestStarter.java
  tests/gdx-tests-gwt/src/com/badlogic/gdx/tests/gwt/client/GwtTestWrapper.java
  tests/gdx-tests/res/com/badlogic/gdx/GdxTests.gwt.xml
  tests/gdx-tests/src/com/badlogic/gdx/tests/g3d/MultipleRenderTargetTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/gles3/GL30Texture3DTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/gles3/InstancedRenderingTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/gles3/NonPowerOfTwoTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/gles3/UniformBufferObjectsTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/utils/GdxTests.java
Labels: gwt, GL

#7119 Fix Mp3 Music setPosition works wrong #6628
  CHANGES
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/audio/OpenALMusic.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/audio/OpenALMusic.java
Labels: bug, audio

#6945 Added GLES31 and GLES32 support with Lwjgl3 backend implementation
  CHANGES
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/AndroidGraphics.java
  backends/gdx-backend-headless/src/com/badlogic/gdx/backends/headless/mock/graphics/MockGraphics.java
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/LwjglGraphics.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/Lwjgl3Application.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/Lwjgl3ApplicationConfiguration.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/Lwjgl3GL31.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/Lwjgl3GL32.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/Lwjgl3Graphics.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/Lwjgl3Window.java
  backends/gdx-backend-robovm-metalangle/src/com/badlogic/gdx/backends/iosrobovm/IOSGraphics.java
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/IOSGraphics.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/GwtGraphics.java
  gdx/res/com/badlogic/gdx.gwt.xml
  gdx/src/com/badlogic/gdx/Gdx.java
  gdx/src/com/badlogic/gdx/Graphics.java
  gdx/src/com/badlogic/gdx/graphics/GL31.java
  gdx/src/com/badlogic/gdx/graphics/GL32.java
  gdx/src/com/badlogic/gdx/graphics/profiling/GL31Interceptor.java
  gdx/src/com/badlogic/gdx/graphics/profiling/GL32Interceptor.java
  gdx/src/com/badlogic/gdx/graphics/profiling/GLProfiler.java
  tests/gdx-tests-lwjgl3/src/com/badlogic/gdx/tests/lwjgl3/Lwjgl3TestStarter.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/gles31/GL31FrameBufferMultisampleTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/gles31/GL31IndirectDrawingIndexedTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/gles31/GL31IndirectDrawingNonIndexedTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/gles31/GL31ProgramIntrospectionTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/gles32/GL32AdvancedBlendingTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/gles32/GL32DebugControlTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/gles32/GL32MultipleRenderTargetsBlendingTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/gles32/GL32OffsetElementsTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/utils/CommandLineOptions.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/utils/GdxTestConfig.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/utils/GdxTests.java
Labels: enhancement, GL, non-breaking w/ config, graphics
