Repository libgdx/libgdx, pull requests merged in 2024-11, with the labels that each got.

#7497 fix: Wayland doesn't support setting window position and icon
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/Lwjgl3Application.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/Lwjgl3Window.java
Labels: desktop, LWJGL3

#6853 GWT - Calculate MD5 hash while copying file to avoid errors on very large files
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/preloader/PreloaderBundleGenerator.java
Labels: enhancement, gwt

#7510 Fix #7509 Gdx.net.openURI not working on iOS 18.1 Simulator
  CHANGES
  backends/gdx-backend-robovm-metalangle/src/com/badlogic/gdx/backends/iosrobovm/IOSNet.java
  backends/gdx-backend-robovm/src/com/badlogic/gdx/backends/iosrobovm/IOSNet.java
Labels: ios
