Repository libgdx/libgdx, pull requests merged in 2024-12, with the labels that each got.

#7076 Support for Layer TintColor in TiledMap
  gdx/src/com/badlogic/gdx/graphics/Color.java
  gdx/src/com/badlogic/gdx/maps/MapLayer.java
  gdx/src/com/badlogic/gdx/maps/tiled/BaseTiledMapLoader.java
  gdx/src/com/badlogic/gdx/maps/tiled/BaseTmjMapLoader.java
  gdx/src/com/badlogic/gdx/maps/tiled/BaseTmxMapLoader.java
  gdx/src/com/badlogic/gdx/maps/tiled/TiledMapImageLayer.java
  gdx/src/com/badlogic/gdx/maps/tiled/renderers/BatchTiledMapRenderer.java
  gdx/src/com/badlogic/gdx/maps/tiled/renderers/HexagonalTiledMapRenderer.java
  gdx/src/com/badlogic/gdx/maps/tiled/renderers/IsometricStaggeredTiledMapRenderer.java
  gdx/src/com/badlogic/gdx/maps/tiled/renderers/IsometricTiledMapRenderer.java
  gdx/src/com/badlogic/gdx/maps/tiled/renderers/OrthoCachedTiledMapRenderer.java
  gdx/src/com/badlogic/gdx/maps/tiled/renderers/OrthogonalTiledMapRenderer.java
  tests/gdx-tests-android/assets/data/maps/tiled-tint-opacity/badlogic-with-whitespace-small.png
  tests/gdx-tests-android/assets/data/maps/tiled-tint-opacity/hex.tmx
  tests/gdx-tests-android/assets/data/maps/tiled-tint-opacity/iso.tmx
  tests/gdx-tests-android/assets/data/maps/tiled-tint-opacity/iso_stag.tmx
  tests/gdx-tests-android/assets/data/maps/tiled-tint-opacity/ortho.tmx
  tests/gdx-tests-android/assets/data/maps/tiled-tint-opacity/ortho_cached.tmx
  tests/gdx-tests-android/assets/data/maps/tiled-tint-opacity/ortho_deep_group_tints.tmx
  tests/gdx-tests-android/assets/data/maps/tiled-tint-opacity/ortho_w_img_layer.tmx
  tests/gdx-tests-android/assets/data/maps/tiled-tint-opacity/sky.png
  tests/gdx-tests/src/com/badlogic/gdx/tests/TiledMapLayerTintOpacityTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/utils/GdxTests.java
Labels: tilemap

#7541 fix depth shader recycling
  gdx/src/com/badlogic/gdx/graphics/g3d/shaders/DepthShader.java
  tests/gdx-tests-gwt/src/com/badlogic/gdx/tests/gwt/client/GwtTestWrapper.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/g3d/ShadowMappingTextureTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/utils/GdxTests.java
Labels: bug, 3D

#7543 Add AndroidX Core dependency to Android backend
  CHANGES
  backends/gdx-backend-android/build.gradle
  gradle/dependencies.gradle
  tests/gdx-tests-android/build.gradle
Labels: android

#7500 Fix pauseWhenLostFocus not working as expected
  CHANGES
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/Lwjgl3Window.java
Labels: LWJGL3
