Repository libgdx/libgdx, pull requests merged in 2024-08, with the labels that each got.

#7275 feat: RISCV native build support
  .github/workflows/build-publish.yml
  CHANGES
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/LwjglCanvas.java
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/LwjglCursor.java
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/LwjglGraphics.java
  backends/gdx-backend-lwjgl/src/com/badlogic/gdx/backends/lwjgl/LwjglNativesLoader.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/Lwjgl3Application.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/Lwjgl3Net.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/Lwjgl3Window.java
  extensions/gdx-box2d/gdx-box2d/build.gradle
  extensions/gdx-bullet/build.gradle
  extensions/gdx-freetype/build.gradle
  extensions/gdx-lwjgl3-glfw-awt-macos/src/com/badlogic/gdx/backends/lwjgl3/awt/GlfwAWTLoader.java
  gdx/build.gradle
  gdx/src/com/badlogic/gdx/scenes/scene2d/utils/UIUtils.java
  gradle/dependencies.gradle
  tests/gdx-tests-lwjgl/src/com/badlogic/gdx/tests/lwjgl/LwjglTestStarter.java
  tests/gdx-tests-lwjgl3/src/com/badlogic/gdx/tests/lwjgl3/AwtTestLWJGL.java
  tests/gdx-tests-lwjgl3/src/com/badlogic/gdx/tests/lwjgl3/Lwjgl3TestStarter.java
Labels: build, desktop, LWJGL3

#6939 Respect OnscreenKeyboardType on gwt getTextInput
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/DefaultGwtInput.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/widgets/PlaceholderTextBox.java
  backends/gdx-backends-gwt/src/com/badlogic/gdx/backends/gwt/widgets/TextInputDialogBox.java
  tests/gdx-tests-gwt/src/com/badlogic/gdx/tests/gwt/client/GwtTestWrapper.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/TextInputDialogTest.java
Labels: gwt, input

#7361 Retire the gdx-lwjgl3-glfw-awt-macos extension
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/Lwjgl3Application.java
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/Lwjgl3Graphics.java
  build.gradle
  extensions/gdx-lwjgl3-glfw-awt-macos/build.gradle
  extensions/gdx-lwjgl3-glfw-awt-macos/src/com/badlogic/gdx/backends/lwjgl3/awt/GlfwAWTLoader.java
  publish.gradle
  settings.gradle
  tests/gdx-tests-lwjgl3/build.gradle
  tests/gdx-tests-lwjgl3/src/com/badlogic/gdx/tests/lwjgl3/AwtTestLWJGL.java
Labels: glfw-awt-macos
