Repository libgdx/libgdx, pull requests merged in 2025-03, with the labels that each got.

#7575 Add FinishableAction interface and implement in relevant actions
  gdx/src/com/badlogic/gdx/scenes/scene2d/actions/DelayAction.java
  gdx/src/com/badlogic/gdx/scenes/scene2d/actions/FinishableAction.java
  gdx/src/com/badlogic/gdx/scenes/scene2d/actions/RepeatAction.java
  gdx/src/com/badlogic/gdx/scenes/scene2d/actions/TemporalAction.java
Labels: scene2d

#7586 Remove `touchSleepTime`
  CHANGES
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/AndroidApplicationConfiguration.java
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/DefaultAndroidInput.java
Labels: android

#7452 Introduce Labeler for Pull Request labeling
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: maintainer needed

#7598 Hopefully fix labeler labeling everything as android
  .github/labeler.yml
Labels: android

#7474 Implement new DefaultPool based on a supplier
  CHANGES
  gdx/res/com/badlogic/gdx.gwt.xml
  gdx/src/com/badlogic/gdx/graphics/g2d/BitmapFontCache.java
  gdx/src/com/badlogic/gdx/graphics/g2d/GlyphLayout.java
  gdx/src/com/badlogic/gdx/net/HttpRequestBuilder.java
  gdx/src/com/badlogic/gdx/scenes/scene2d/Actor.java
  gdx/src/com/badlogic/gdx/scenes/scene2d/Stage.java
  gdx/src/com/badlogic/gdx/scenes/scene2d/actions/Actions.java
  gdx/src/com/badlogic/gdx/scenes/scene2d/ui/Button.java
  gdx/src/com/badlogic/gdx/scenes/scene2d/ui/List.java
  gdx/src/com/badlogic/gdx/scenes/scene2d/ui/ProgressBar.java
  gdx/src/com/badlogic/gdx/scenes/scene2d/ui/SelectBox.java
  gdx/src/com/badlogic/gdx/scenes/scene2d/ui/Slider.java
  gdx/src/com/badlogic/gdx/scenes/scene2d/ui/Table.java
  gdx/src/com/badlogic/gdx/scenes/scene2d/ui/TextArea.java
  gdx/src/com/badlogic/gdx/scenes/scene2d/ui/TextField.java
  gdx/src/com/badlogic/gdx/scenes/scene2d/ui/Touchpad.java
  gdx/src/com/badlogic/gdx/scenes/scene2d/utils/Selection.java
  gdx/src/com/badlogic/gdx/utils/DefaultPool.java
  gdx/src/com/badlogic/gdx/utils/Pools.java
  gdx/src/com/badlogic/gdx/utils/ReflectionPool.java
  gdx/test/com/badlogic/gdx/utils/PoolsTest.java
Labels: android

#7601 Minor code improvements to DefaultAndroidInput
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/DefaultAndroidInput.java
Labels: code quality

#7615 Upgrade to MobiVM 2.3.23
  CHANGES
  gradle/dependencies.gradle
Labels: ios
