Repository libgdx/libgdx, pull requests merged in 2025-04, with the labels that each got.

#7597 Use official ANGLE for MetalANGLE
  CHANGES
  backends/gdx-backend-robovm-metalangle/build.gradle
  backends/gdx-backend-robovm-metalangle/res/META-INF/robovm/ios/robovm.xml
  tests/gdx-tests-iosrobovm/build.gradle
  tests/gdx-tests-iosrobovm/robovm.xml
Labels: ios

#7629 ci: Update to Ubuntu 22.04 runner
  .github/workflows/build-publish.yml
  .github/workflows/build-pullrequest.yml
Labels: build

#7498 Support for Text Objects in BaseTmxMapLoader + bugfix.
  CHANGES
  gdx/res/com/badlogic/gdx.gwt.xml
  gdx/src/com/badlogic/gdx/maps/objects/TextMapObject.java
  gdx/src/com/badlogic/gdx/maps/tiled/BaseTmjMapLoader.java
  gdx/src/com/badlogic/gdx/maps/tiled/BaseTmxMapLoader.java
  tests/gdx-tests-android/assets/data/maps/tiled-objects/test-load-mapobjects.tmj
  tests/gdx-tests-android/assets/data/maps/tiled-objects/test-load-mapobjects.tmx
  tests/gdx-tests/src/com/badlogic/gdx/tests/TiledMapJsonObjectLoadingTest.java
  tests/gdx-tests/src/com/badlogic/gdx/tests/TiledMapObjectLoadingTest.java
Labels: tilemap

#7600 Replace Android Vibrator deprecated methods
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/AndroidHaptics.java
Labels: android

#7069 Fix GLFW window creation with ANGLE and Ubuntu with Nvidia GPU Drivers
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/Lwjgl3Application.java
Labels: angle

#7604 Logging and other minor code improvements to Android classes
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/AndroidMusic.java
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/ZipResourceFile.java
Labels: code quality

#7456 WORLD1/2 keys for Lwjgl3 backends
  backends/gdx-backend-lwjgl3/src/com/badlogic/gdx/backends/lwjgl3/DefaultLwjgl3Input.java
  gdx/src/com/badlogic/gdx/Input.java
Labels: LWJGL3

#7415 Fix: Set alpha channel bits to 8 for Android backend
  backends/gdx-backend-android/src/com/badlogic/gdx/backends/android/AndroidApplicationConfiguration.java
Labels: android
